.navbar {
    background-color: #040827 !important;
}

body {
    background-color: #071d33 !important;
    color: white; /* Asegura que el texto sea visible en el fondo oscuro */
}

.bg-secondary {
    background-color: #071d33 !important;
}

.bg-primary {
    background-color: #1f2d80 !important;
}

nav{
    font-weight: 700;
}
            
.img-card{
    height: 18vw;
    object-fit: cover;
}